.bg_dark{
    background-color: black;
}

.bg_green{
    background-color: #1ABC9C;
    background-color: #16beab;
    background-color: #24bba9;
    background-color: #16beab;
    background-color: #1ABC9C;
}

.bg_whiter{
    background-color: #F0F2F5;
}